.header {
    padding-top: 20px;
    padding-bottom: 10px;
}

.header_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.header_anouncement {
    justify-self: center;
}

.header_nav {
    justify-self: end;
}

.logo_link {
    justify-self: flex-start;
}

@media (max-width: 750px ) {
    .header_container {
        grid-template-columns: 60px 1fr 60px;
    }
}

@media (max-width: 480px ) {
    .header_container {
        grid-template-columns: 45px 1fr 45px;
    }
}