.present {
    padding-top: 27px;
}

.present_title {
    font-family: IBM Plex Mono;
    font-weight: 500;
    font-size: 90px;
    line-height: 120%;
}
.present_tagline {
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 54px;
    margin-top: 8px;
}

.present_btn {
    display: block;
    width: 285px;
    height: 68px;
    background-image: url('../img/button.png');
    filter: drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51));
    border-radius: 2px;
    background-position: center;
    background-size: cover;
}

.present_hero {
    margin-bottom: 30px;
}