.tabs_list {
    min-height: 280px;
}

.tabs_control {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 13px 22px;
    max-width: 285px;
    margin-left: auto;
    margin-bottom: 12px;
}

.tabs_btn {
    color: #fff;
    font-weight: 700;
    line-height: 1;
    background-color:transparent;
    border:none;
    border-bottom:  2px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.tabs_btn_active {
    border-color: #fff;
}

.tabs_content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.tabs_item {
    display: none;
}
.tabs_item_active {
    display: block;
}


@media (max-width: 1000px ) {
    .tabs_control {
        padding: 16px 38px;
        margin-bottom: 10px;
    }
}


@media (max-width: 850px ) {
    .tabs_content {
        flex-wrap: wrap;
    }
    .tabs_control {
        padding: 16px 46px;
        margin-bottom: 16px;
    }
    .tabs_content_video {
        row-gap: 50px;
    }
    .tabs_content_picture{
        row-gap: 30px;
    }
    .tabs_content_product {
        row-gap: 35px;
    }
}


@media (max-width: 480px ) {
    .tabs_control {
        max-width: 220px;
        height: 37px;
        padding: 10px 30px;
        margin-bottom: 10px;
    }
}
